.editor-component {
    padding-top: 30px;
    .content {
        width: 61.8%;
        margin: 0 auto;
    }
    .saving-article-overlay {
        background: rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10000;
        div {
            width: 100px;
            height: 100px;
            font-size: 300%;
            border-radius: 3px;
            background: white;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 100px;
            text-align: center;
            margin-left: -50px;
            margin-top: -50px;
            color: #bbb;
            box-shadow: 0 0 50px 0 rgba(0,0,0,0.15);
        }
    }
}
