.comment-component {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.comment-component .author {
  background: #f0f0f0;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
.comment-component .author img {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  overflow: hidden;
  border: 3px solid #ddd;
  margin: -8px 10px 0;
  float: left;
}
.comment-component .body {
  color: #222;
  font-size: 14px;
  padding: 14px 15px 10px;
}
